{
    "extends": ["homeoffice/config/default"],
    "plugins": ["filenames"],
    "rules": {
      "filenames/match-regex": 2,
      "filenames/match-exported": 2
    },
    "env": {
      "es6": true
    }
}
